{% extends "students/base.html" %}

{% block title %}Student List{% endblock %}

{% block content %}
    <h2 class="text-info mb-4">📘 All Students</h2>

    <ul class="list-group">
        {% for student in students %}
            <li class="list-group-item">
                <strong>{{ student.name }}</strong> (Roll No: {{ student.roll_number }})<br>
                <span class="text-muted">{{ student.branch }} | {{ student.email }}</span>
            </li>
        {% empty %}
            <li class="list-group-item text-danger">No students found.</li>
        {% endfor %}
    </ul>

    <a href="/" class="btn btn-secondary mt-4">⬅ Back to Home</a>
{% endblock %}
